$font-stack: 'Poppins', sans-serif;
$font-stack-lato: 'Lato', sans-serif;
$font-stack-2: Lato, sans-serif;
$primary-color:#2B3C4E;
$purple-color: #7557D3;
$background: #FDFDFF;
$white-color: #fff;
$grey-color: #CECECE;
$deep-grey:#B1B1B1;
$color-black: #211F26;
$im: !important;