$font-stack: 'Poppins', sans-serif;
$font-stack-lato: 'Lato', sans-serif;
$font-stack-2: Lato, sans-serif;

$primary-color:#2B3C4E;
$purple-color: #7557D3;
$background: #FDFDFF;
$white-color: #fff;
$grey-color: #CECECE;
$gray-color-2: #4F4F4F;
$deep-grey:#B1B1B1;
$grey-dark: #7D7D7D;
$color-black: #211F26;

$font-sm: 14px;
$font-18: 18px;

$im: !important;
