.btn {
    box-shadow: none;
    cursor: pointer;
    border-radius: 4px;

    &:focus {
        box-shadow: none;
    }
    
    &-register {
        border-radius: 2px;
        &-white {
            @extend .btn-register;
            @include button($white-color, $purple-color);
        }
        &-purple {
            @extend .btn-register;
            @include button($purple-color, $white-color);
        }
    }

    &-upload {
        border: 1.5px dashed $primary-color;
        padding: 16px 20px 12px;
        width: 211px;
        background: none;
        position: relative;
        cursor: pointer;
        &:hover {
            background: lightblue;
        }
        p {
            font-size: 1.2em;
            text-align: center;
            padding: 50px 0;
        }
    }
    &-submit {
        @include button($purple-color, $white-color);
        margin-top: 43px $im;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 16px 14px;
        margin-bottom: 30px;
        @include media-breakpoint-up(sm) {
            width: 379px $im;
        }
    }
    &-login {
        @include button($purple-color, $white-color, $gray-color);
        background: $purple-color;
        border:none;
        height: 48px;
        color: #fff;
        font-weight: 600;
    }
    &--gray {
        @include button($deep-grey, $white-color);
        border: none;
        width: 205px;
        height: 41px;
    }

    &--purple {
        @include button($purple-color, $white-color);
        border: none;
        width: 205px;
        height: 41px;
        &:hover {
            color: $gray-color;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    &-previous {
        background: $white-color;
        width: 125px;
        height: 41px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        color: $color-black;
        &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    &-next {
        @include button($purple-color, $white-color);
        width: 125px;
        height: 41px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    &-home {
        @include button($purple-color, $white-color);
        width: 205px;
        height: 41px;
        margin-top: 34px;
    }

    &-start {
        @include button($purple-color, $white-color);
        padding: 10px 40px 10px 40px;
        &:hover {
            color: $gray-color;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}