.text {
    &--primary {
        color: $primary-color;
    }
    &--purple {
        color: $purple-color
    }
    &--gray {
        color: $deep-grey;
        &-2 {
            color: $gray-color-2;
        }
        &-dark {
            color: $grey-dark;
        }
    }

    &-small {
        font-size: $font-sm;
    }
    &-large {
        font-size: 48px;
        font-weight: 300;
    }
}