.application {
    color: $primary-color;
    background: $background;
    
    &-form {
        padding-top: 32px;

        &-details {
            padding-top: 5vh;
            background: $white-color;
            box-shadow: 0px 5px 15px rgba(33, 31, 38, 0.05);
            border-radius: 8px;
            padding: 54px 18px;
            @include media-breakpoint-up(sm) {
                padding: 53px 71px 39px 61px;
            }
            @include media-breakpoint-up(lg) {
                margin: 0 83px;
            }
        }

        .input-date {
            color: $grey-color;
            font-size: 10px;
        }
    }
    
    &-date {
        font-size: 14px;
        color: $primary-color;
        font-style: normal;
    }
    
    &-status {
        @include media-breakpoint-up(sm) {
            margin-left: 60px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 120px;
        }

        &-text {
            font-size: 14px;
            color: $primary-color;
            font-style: normal;
        }
    }

    &-sub-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        color: $primary-color;
        margin-top: 9px;
    }
    
}