.assessment {
    &-menu {
        font-size: 16px;
        color: $primary-color;
        font-weight: normal;
        cursor: pointer;
    }
    
    &-img {
        margin-left: 39px;
        margin-right: 19px;
        width: 14.44px;
        height: 12.37px;
        cursor: pointer;
    }

    &-menus {
        margin-top: 38px;
        cursor: pointer;
    }

    &-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 140px;
    }
    
  
    &-header {
        display: flex;
        flex-direction: column;
        margin: 42px 24px;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
            margin: 107px 47px 0;
        }
    }
    
    &-timer {
        &-wrapper {
            @include media-breakpoint-up(md) {
                margin-left: 32px;
            }
            .timer {
                font-size: 48px;
                font-style: normal;
                font-weight: 300;
                text-align: center;
                &-min,
                &-sec {
                    font-size: 12px;
                }
            }
        }
        &-text {
            font-size: 14px;
            color: $primary-color;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            @include media-breakpoint-up(md) {
                margin-right: 110px;
                font-size: 14px;
                color: $primary-color;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
    

    &-question-wrapper {
        margin-top: 64px;

        .question {
            padding: 10px;
        }
    }

    &-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 86px;
    }

    &-content {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .load-icon {
            margin: 0 auto;
            width: 72px;
        }
    }

    &-instruction {
        
        &-wrapper {
            border: 1px solid $grey-color;
            border-radius: 4px;
            padding: 20px;
        }
    }

}
