.dashboard {
    &-main {
        @include media-breakpoint-up(md) {
            padding-left: 292px;
        }
        &-content {
            margin: 60px 32px;
            @include media-breakpoint-up (sm) {
                margin: 107px 61px 86px 47px;
            }
        }
    }

    &-link {
        text-decoration: none;
        color: $primary-color;

        .router-link-exact-active {
            color: $primary-color;
            text-decoration: none;
        }
        
        &:active {
            color: $purple-color;
        }
    }

    &-menus {
        margin-top: 42px;
        font-size: 16px;
        color: $primary-color;
        font-weight: bold;
        cursor: pointer;
    }
    
    &-img {
        margin-left: 39px;
        margin-right: 16px;
        width: 14.44px;
        height: 12.37px;
        cursor: pointer;
    }

    &-header {
        font-weight: 300;
        font-size: 29px;
        color: $primary-color;
        @include media-breakpoint-up(md) {
            font-weight: 300;
            font-size: 43px;
            color: $primary-color;
        }
        &-wrapper {
            @include media-breakpoint-up(md) {
                font-weight: 300;
                font-size: 43px;
                color: $primary-color;
            }   
        }
    }
    
    &-content {
        margin-top: 61px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @include media-breakpoint-up(lg) {
            margin-top: 97px;
            display: flex;
            flex-direction: row;
        }
    }
}