.dashboard {
    &-main {
        @include media-breakpoint-up(md) {
            padding-left: 292px;
        }
        &-content {
            margin: 60px 32px;
            @include media-breakpoint-up (sm) {
                margin: 107px 61px 86px 47px;
            }
        }
    }

    &-link {
        text-decoration: none;
        color: $primary-color;
        padding: 16px;

        &.router-link-exact-active {
            border-left: 4px solid $purple-color;
            font-weight: bold;
            color: $primary-color;
        }
    }

    &-menus {
        margin-top: 42px;
        font-size: 16px;
        color: $primary-color;
        cursor: pointer;
    }
    
    &-img {
        margin-left: 39px;
        margin-right: 16px;
        width: 14.44px;
        height: 12.37px;
        cursor: pointer;
    }

    &-header {
        font-weight: 300;
        font-size: 29px;
        color: $primary-color;
        @include media-breakpoint-up(md) {
            font-weight: 300;
            font-size: 43px;
            color: $primary-color;
        }
        &-wrapper {
            @include media-breakpoint-up(md) {
                font-weight: 300;
                font-size: 43px;
                color: $primary-color;
            }   
        }
    }
    
    &-content {
        margin-top: 61px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @include media-breakpoint-up(lg) {
            margin-top: 97px;
            display: flex;
            flex-direction: row;
        }
        
        .update {
            &-wrapper {
                border: 1px solid #ECECF9;
                border-radius: 4px;
                height: 453px;
                @include media-breakpoint-up(lg) {
                    width: 95%;
                }
            }
            &-lines {
                margin-top: 30px;
            }
        }
    }
}