.password {
    height: 100vh;
    &-box {
        box-shadow: 0px 5px 15px rgba(33, 31, 38, 0.05);
        border-radius: 8px;
        padding: 32px 24px;
        @include media-breakpoint-up(md) {
            padding: 34px 58px 50px;
        }
        @include media-breakpoint-up(lg) {
            width: 614px;
        }
    }
    &-reset {
        &-text {
            @include media-breakpoint-up(sm) {
                width: 80%;
            }
        }
        &-title {
            font-size: $font-18;
            font-weight: 600;
        }
    }
    &-heading {
        font-size: 32px;
    }

    &-input {
        border: none;
    }
    &-container {
        border: 1.5px solid $primary-color;
        border-radius: 4px;
        display: flex;
        padding: 0 7px ;
        align-items: center;
    }
}
