.reset {
    &-pw {
        color: $primary-color;
        font-style: normal;
        font-weight: 300;
        font-size: 43px;
        margin-top: 107px;
    }

    &-via-email {
        cursor: pointer;
    }

    &-options-password {
        opacity: 0.2;
    }
    
    &-email-password {
        &:hover {
            background: rgb(241, 241, 241);
        }
        &-link {
            text-decoration: none;
        }
    }
}